@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1e3a8a;
  --primary-hover: #1e40af;
  --primary-dark: #1e40af;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #1e40af;
    --primary-hover: #60a5fa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
